body{
    text-align: center;
}

div{
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
    margin: 0rem 3rem;

}

#header {
    display: flex;
    flex-direction: row;
    border:none;
    justify-content: space-around;
}